[submodule "bundle/pydoc.vim"]
	path = bundle/pydoc.vim
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/fruity.vim"]
	path = bundle/fruity.vim
	url = https://github.com/vim-scripts/fruity.vim.git
[submodule "autoload/SuperTab"]
	path = bundle/SuperTab
	url = https://github.com/vim-scripts/SuperTab.git
